body {
  margin: 0;
  padding: 0;
  background-color: 'white';
  /* font-family: 'Cormorant Garamond', serif; */
  /* font-family: 'Teko', sans-serif; */
  font-family: 'Lora', sans-serif;
  font-weight: lighter;
}
