.showFor {
}

.hideFor {
    display: none;
}

.smallRadio {
    width: 1rem;
    height: 1rem;
}
.bigRadio {
    width: 2rem;
    height: 2rem;
}
.sexualityPicker {
    display: flex;
    flex-direction: column;
    line-height: 3vh;
    margin-top: 3vh;
}
.sexualityRadio {
    display: flex;
    flex-direction: column;
    width: 4rem;
    align-content: center;
}

.radios {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.basicinfo {
    margin-top: 33vh !important;
    line-height: 5vh;
}

.sexualityItem {
    color: red;
    font-size: 30
}

/* .basicinfo TextField {
    margin-left: 5px;
} */

.inputBox {
    margin-left: 10px !important;
} 
.inputWrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.showDown {
    margin: 0% auto;
}
.hideDown {
    display: none;
}
