@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Lora');

.showFor {
}

.hideFor {
    display: none;
}

.smallRadio {
    width: 1rem;
    height: 1rem;
}

.bigRadio {
    width: 2rem;
    height: 2rem;
}

.sexualityPicker {
    display: flex;
    flex-direction: column;
    line-height: 3vh;
    margin-top: 7vh;
}
.sexualityRadio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemText {
    font-size: inherit;
}

.radios {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.basicinfo {
    margin-top: 25vh !important;
    padding-top: 0vh !important;
    line-height: 5vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 2.8vh;
}

.inputWrapper {
    display: flex !important;
font-family: 'Lora', sans-serif;    justify-content: center;
    align-content: center;
    flex-direction: row;
    padding-bottom: 2vh;
}

.sexualityItem {
    color: red;
    font-size: 30;
    margin-top: 5px;
}

.inputBox {
    margin-left: 10px !important;
}
.inputBox input {
    font-family:'Lora';
    font-style:'italic';
    font-size: 2.8vh;
    color: darkblue;
}

@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 4000px) {


    .inputWrapper .sexualityPicker .desginBy {
        font-size: 4vw;
    }
    .showDown a{
        margin: 7vh auto 0vh auto!important;
        font-weight: normal !important;
        font-family: 'Cormorant Garamond', serif !important;
    }
    .showDownYou a{
        margin: 17vh auto 0vh auto!important;
        font-weight: normal !important;
        font-family: 'Cormorant Garamond', serif !important;
    }
}

@media screen
  and (min-device-width: 667px)
  and (max-device-width: 768px) {
    .basicinfo {
        margin-top: 22vh !important;
        padding-top: 0vh !important;
        line-height: 4vh;
        width: 80vw;
        display: flex;
        flex-direction: column;
        margin: auto;
        font-size: 2.2vh;
    }
    .inputBox input {
        font-family:'Lora';
        font-style:'italic';
        font-size: 2.2vh;
        color: darkblue;
    }
    .showDown a{
        margin: 8vh auto 0vh auto!important;
        font-weight: normal !important;
        font-family: 'Cormorant Garamond', serif !important;
    }
    .showDownYou a{
        margin: 25vh auto 0vh auto!important;
        font-weight: normal !important;
        font-family: 'Cormorant Garamond', serif !important;
    }
}

/* phones in general  */
@media only screen
  and (min-device-width: 376px)
  and (max-device-width: 667px)  {
    .basicinfo {
        margin-top: 25vh !important;
        line-height: 5vh;
        font-size: 16px;
    }

    .inputWrapper .sexualityPicker .desginBy {
        font-size: 5vw;
    }

    .showDown a{
        margin: 5vh auto 0vh auto!important;
        font-weight: normal !important;
        font-family: 'Cormorant Garamond', serif !important;
        font-size: 2.7vh;
        width: 80vw;
    }
    .showDown {
        margin: 0vh auto 0vh auto!important;
        font-weight: normal !important;
        font-family: 'Cormorant Garamond', serif !important;
    }
    .inputBox input {
        font-family:'Lora';
        font-style:'italic';
        font-size: 2.2vh;
        color: darkblue;
    }
    .down a {
        margin: 0vh auto 0vh auto!important;
    }
    .showDownYou a{
        margin: 16vh auto 0vh auto!important;
        font-weight: normal !important;
        font-family: 'Cormorant Garamond', serif !important;
        font-size: 2.7vh;
        width: 80vw;
    }

    .showDownBottom {
        margin: 4vh auto !important;
    }
}

@media only screen
  and (min-device-width: 300px)
  and (max-device-width: 375px)  {
    .basicinfo {
        margin-top: 22vh !important;
        line-height: 5vh;
        font-size: 2.2vh;
        width: 100vw;
        margin-left: 0;

    }
    .showDown {
        margin: 6vh auto !important;
    }
    .showDown a{
        margin: 2vh auto 0vh auto!important;
        font-weight: normal !important;
        font-family: 'Cormorant Garamond', serif !important;
        font-size: 2.8vh!important;
        width: 60vw;
    }
    .inputBox input {
        font-family:'Lora';
        font-style:'italic';
        font-size: 2vh;
        color: darkblue;
    }
    .down a {
        margin: 0vh auto 0vh auto!important;
    }
    .showDownYou a{
        margin: 18vh auto 0vh auto!important;
        font-weight: normal !important;
        font-family: 'Cormorant Garamond', serif !important;
        font-size: 2.8vh!important;
        width: 60vw;
    }

    .showDownBottom {
        margin: 4vh auto !important;
    }
}


/* @media only screen and (max-width: 900px) {
    .basicinfo {
        margin-top: 29vh !important;
        line-height: 5vh;
        font-size: 15px;
    }
    .showDown {
        margin: 6vh auto !important;
    }
    .showDownBottom {
        margin: 4vh auto !important;
    }
} */
/* @media only screen and (max-device-width: 480px) {
    iPhone Plus, Pixel 2 (XL)
    .basicinfo {
        margin-top: 26vh !important;
        line-height: 5vh;
        font-size: 15px;
    }
    .showDown {
        margin: 6vh auto !important;
    }
    .showDownBottom {
        margin: 4vh auto !important;
    }
    .inputWrapper .desginBy .sexualityPicker {
        font-size: 5vw;
    }
} */
/* @media only screen and (max-device-width: 375px) {
    iPhone 6/7/8, iPhone X,
    .basicinfo {
        margin-top: 22vh !important;
        line-height: 5vh;
        font-size: 15px;
    }
    .showDown {
        margin: 6vh auto !important;
    }
    .showDownBottom {
        margin: 5vh auto !important;
    }
} */
/* @media only screen and (max-width: 320px) {
    .basicinfo {
        margin-top: 20vh !important;
        line-height: 4vh;
        font-size: 12px;
    }
    .showDown {
        margin: 5vh auto !important;
    }
    .showDownBottom {
        margin: 6vh auto !important;
    }
} */
