.oneliner {
    width: 70%;
    font-size: 4.5rem;
    margin: 13vh auto 1rem auto;
}
@media only screen and (max-device-width: 480px) {
    .oneliner {
        width: 90%;
        font-size: 3rem;
        margin: 1rem auto 1rem auto;
    }
}
@media only screen and (max-device-width: 360px) {
    .oneliner {
        width: 90%;
        font-size: 2.3rem;
        margin: 1rem auto 1rem auto;
    }
}