.oneliner {
    width: 70%;
    font-size: 4.5rem;
    margin: 7vh auto 1rem auto;
}
@media only screen and (max-device-width: 768px) {
    /* iPad */
    .oneliner {
        width: 90%;
        font-size: 4.5rem;
        margin: 2rem auto auto auto;
    }
}
@media only screen and (max-device-width: 480px) {
    /* iPhone Plus, Pixel 2 (XL) */
    .oneliner {
        width: 90%;
        font-size: 3rem;
        margin: 2rem auto 0rem auto;
    }
}
@media only screen and (max-device-width: 360px) {
    .oneliner {
        width: 90%;
        font-size: 2.6rem;
        margin: 1rem auto 1rem auto;
    }
}
