#checkout {
    text-align: center;
    justify-content: center;
}

.otherImgs {
    display: flex;
    flex-direction: row;
}


.orderSummary td {
    padding-right: 2rem;
    text-align: left;
}
table {
    width: 100%;
    line-height: 3vh;
}
.bordered td {
    border-bottom: 1px solid #000;
}
.total {
    line-height: 2rem;
}
.wordCountBad {
    display: inline-flex;
    justify-content: flex-end;
    color: red;
}
.wordCountGood {
    display: inline-flex;
    justify-content: flex-end;
}

.custom-modal {
  max-width: 70%;
  width: 100%;
}
.submitButton {
    width: 100%;
    text-decoration: none;
    display: inline-flex;
    justify-content: flex-end;
    margin-top: 3rem;
    margin-right: 3rem;
}

@media only screen and (max-device-width: 768px) and (min-device-width: 481px) {
  /* iPad */
    #checkout {
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        text-align: center;
        justify-content: center;
    }
    .leftBox {
        width: 50%;
        height: 75vh;
        float: left;
        display: flex;
        flex-direction: column;
    }
    .rightBox {
        margin-right: 10vw;
        margin-left: 5vw;
        width: 34vw;
        height: 75vh;
        float: right;
        display: flex;
        flex-direction: column;
    }
    .swiper{
        width: 32vh;
        height: 32vh;
        border: solid grey 0.5px;
        margin-bottom: 1rem;
    }
    .imgContainer {
        margin: 8vh auto 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .otherImgs img{
        width: 10vh;
        height: 10vh;
        border: solid grey 0.5px;
        margin: 0 0.5vh 0 0.5vh;
    }
    .perfumeInfo {
        display: flex;
        flex-direction: column;
        margin-top: 5vh;
    }
    .selectedBotImg {
        width: 30vw;
        height: 30vw;
        border: solid grey;
        margin: 2vh auto 2vh;
    }
    .title {
        font-size: 32px;
        line-height: 4rem;
    }
    .description {
        font-size: 20px;
        line-height: 2rem;
        margin: 0;
    }
    .showMessage {
        margin: 3vh auto 0 auto;
        width: 65%;
        text-align: left;
    }
    .hideMessage {
        display: none;
    }
    .orderSummary {
        width: 90%;
        padding: 1rem;
        margin: 5rem auto 0rem auto;
        background-color: lightgrey;
        border-radius: 1rem;
    }
    .checkOutButton {
        width: 100%;
        display: inline-flex;
        justify-content: flex-end;
        margin-top: 2rem;
    }
    .selectContainer {
        width: 80%;
        margin: 3rem auto 1rem 0rem;
        display: flex;
        text-align: center;
        line-height: 2rem;
        font-size: 2.5vh;
   }
   .priceContainer {
       width: 85%;
       font-size: 2.5vh;
       line-height: 2rem;
       margin: 3vh auto 0 0;
   }
}
@media only screen and (max-device-width: 480px) {
    /* iPhone Plus, Pixel 2 (XL) */
    .swiper{
        width: 38vh;
        height: 38vh;
        border: solid grey 0.5px;
        margin-bottom: 1rem;
    }
    .imgContainer {
        margin: 3vh auto 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .otherImgs img{
        width: 12vh;
        height: 12vh;
        border: solid grey 0.5px;
        margin: 0 0.5vh 0 0.5vh;
    }
    .selectContainer {
        width: 85%;
        margin: 3vh auto 0 auto;
        font-size: 2.5vh;
        display: flex;
        flex-direction: row;
        line-height: 5vh;
    }
    .priceContainer {
        width: 85%;
        font-size: 2.5vh;
        line-height: 5vh;
        margin: 3vh auto 5vh auto;
    }
    .perfumeInfo {
        display: flex;
        flex-direction: row;
        width: 80vw;
        margin: 3vh auto 0 auto;
    }
    .selectedBotImg {
        width: 27vw;
        height: 27vw;
        border: solid grey;
        margin: 2vh auto 2vh;
    }
    .itemInfo {
        display: flex;
        flex-direction: column;
        margin: auto 0 auto 3vw;
        text-align: left;
    }
    .title {
        font-size: 26px;
        margin-bottom: 1vh;
    }
    .description {
        font-size: 18px;
        margin: 0;
    }
    .showMessage {
        margin: 5vh auto 1vh auto;
        width: 80%;
        text-align: left;
    }
    .hideMessage {
        display: none;
    }
    .orderSummary {
        width: 77%;
        padding: 3vh 5vw 1vh 5vw;
        margin: 4vh auto 0rem auto;
        background-color: lightgrey;
        border-radius: 1rem;
        line-height: 2vw;
    }
    .promoContainer {
        text-align: left;
        height: 10vh;
        margin: 0;
    }
    .checkOutButton {
        width: 100%;
        display: inline-flex;
        justify-content: flex-end;
        margin-top: 2rem;
    }
}
@media only screen and (max-device-width: 375px) {
    /* iPhone 6/7/8, iPhone X, */
    .priceContainer {
        width: 85%;
        font-size: 2.5vh;
        line-height: 5vh;
        margin: 3vh auto 3vh auto;
    }
}
@media only screen and (max-device-width: 320px) {
    /*iPhone 5*/
    .priceContainer {
        width: 85%;
        font-size: 2.5vh;
        line-height: 5vh;
        margin: 3vh auto 2vh auto;
    }
    .selectedBotImg {
        width: 22vw;
        height: 22vw;
        border: solid grey 0.5px;
        margin: 2vh auto 2vh;
    }
    .showMessage {
        margin: 2vh auto 0vh auto;
        width: 80%;
        text-align: left;
    }
    .orderSummary {
        width: 90%;
        padding: 2vh 2vw 1vh 2vw;
        margin: 4vh auto 0rem auto;
        background-color: lightgrey;
        border-radius: 1rem;
        line-height: 2.5vw;
    }
    .promoContainer {
        height: 10vh;
        margin: 0;
    }
    .checkOutButton {
        width: 100%;
        display: inline-flex;
        justify-content: flex-end;
        margin-top: 4vh;
    }
}
@media only screen and (min-device-width: 769px){
    .leftBox {
        width: 34vw;
        margin-right: 5vw;
        margin-left: 10vw;
        height: 75vh;
        float: left;
        display: flex;
        flex-direction: column;
    }
    .rightBox {
        margin-right: 10vw;
        margin-left: 5vw;
        width: 34vw;
        height: 75vh;
        float: right;
        display: flex;
        flex-direction: column;
    }
    .swiper{
        width: 50vh;
        height: 50vh;
        border: solid grey 0.5px;
        margin-bottom: 1rem;
    }
    .imgContainer {
        margin: 5vh 2vw auto auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .otherImgs img{
        width: 16vh;
        height: 16vh;
        border: solid grey 0.5px;
        margin: 0 0.5vh 0 0.5vh;
    }

    .perfumeInfo {
        display: flex;
        flex-direction: column;
        margin-top: 5vh;
    }
    .title {
        font-size: 32px;
        line-height: 4rem;
    }
    .description {
        font-size: 20px;
        line-height: 2rem;
        margin: 0;
    }
    .selectedBotImg {
        width: 40vh;
        height: 40vh;
        border: solid grey;
        margin: 2vh auto 2vh;
    }
    .showMessage {
        margin: 3vh auto 0 auto;
        width: 100%;
        text-align: left;
    }
    .hideMessage {
        display: none;
    }
    .orderSummary {
        width: 90%;
        padding: 1rem;
        margin: 5rem auto 0rem auto;
        background-color: lightgrey;
        border-radius: 1rem;
    }
    .checkOutButton {
        width: 100%;
        display: inline-flex;
        justify-content: flex-end;
        margin-top: 2rem;
    }
    .selectContainer {
        width: 80%;
        margin: 3rem auto 1rem 0rem;
        display: flex;
        text-align: center;
        line-height: 2rem;
        font-size: 2.5vh;
   }
   .priceContainer {
       width: 85%;
       font-size: 2.5vh;
       line-height: 2rem;
       margin: 3vh auto 0 0;
   }
}
