section {
  width: 100%;
}
.leftBox {
    width: 50%;
    height: 100%;
    float: left;
}
.rightBox {
    width: 50%;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: column;
}
.imgContainer {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.swiper{
    width: 20rem;
    height: 20rem;
    border: solid grey;
    margin-bottom: 1rem;
}

.otherImgs {
    display: flex;
    flex-direction: row;
}
.otherImgs img{
    width: 7rem;
    height: 7rem;
    border: solid grey;
    margin: 0 0.25rem 0 0.25rem;
}
.perfumeInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    width: 80%;
    font-size: 32px;
    line-height: 4rem;
}
.description {
    width: 80%;
    font-size: 20px;
    line-height: 2rem;
}
.showMessage {
    margin-top: 4rem;
    width: 80%;
}
.hideMessage {
    display: none;
}
.wordCountBad {
    display: inline-flex;
    justify-content: flex-end;
    color: red;
}
.wordCountGood {
    display: inline-flex;
    justify-content: flex-end;
}
.priceContainer {
    width: 60%;
    padding: 1rem;
    margin: 1rem auto 0rem auto;
    background-color: lightgrey;
    border-radius: 1rem;
}
.priceContainer td {
    padding-right: 2rem;
}
table {
    line-height: 1.3rem;
}
.bordered td {
    border-bottom: 1px solid #000;
}
.total {
    line-height: 2rem;
}
.checkOutButton {
    display: inline-flex;
    justify-content: flex-end;
    margin-top: 3rem;
}

.custom-modal {
  max-width: 70%;
  width: 100%;
}
