.reviewSection {
    display: flex;
    height: 87vh;
    padding-top: 13vh;
}

.reviewSection .oneliner {
    font-size: 4vw;
    margin-top: 10vh !important;
    width: 90vw !important;
}


#reviews {
    background-image: url(../../../assets/landing/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    overflow: hidden;
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Cormorant Garamond', serif;
}

#reviews .backdrop {
    position: absolute;
    background-color: black;
    opacity: 0.;
    z-index: 1;
    width: 100vw;
    height: 100vh !important;
    margin-top: -13vh;
}

.reviewBody {
    z-index: 20;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 80vw; */
}

.description {
    width: 100vw !important;
}

.getStarted2 {
    margin-top: 6vh;
    margin-bottom: 3vh;
}
.coverflowConatiner {
    margin-top: 5vh;
}

/* phones in general  */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px)  { 
    .reviewSection .oneliner {
        font-size: 8vw;
        margin-top: 5vh !important;
        margin-bottom: 2vh !important;
        width: 70vw !important;
    }

    #reviews .getStarted {
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
}

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 375px)  { 
    .reviewSection .oneliner {
        font-size: 8vw;
        margin-top: 10vh !important;
    }

    .getStarted {
        margin-top: 9vh;
        margin-bottom: 9vh;
    }
}