.header {
  background-color: #36384c;
  z-index: 50;
  width: 100%;
  height: 13vh;
  position: fixed;
  display: flex;
  top: 0%;
}

.perf-logo {
  height: 70%;
  display: inline-block;
  margin: 2vh auto;
}

.perf-link {
  margin: 2vh auto;
  align-items: center;
}

.menuItemText {
  margin-left: 4vh;
}
