.hideTopRight {
    display: none;
}
@media only screen and (max-width: 425px) {
    .header {
        background-color: white;
        z-index: 50;
        width: 100%;
        height: 112px;
        position: fixed;
        display: flex;
        top: 0%;
    }
    .innerHeader {
        display: flex;
        padding: 8px 12px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 100%;
        max-width: 1570px !important;
    }
    .perf-link img {
        padding: 8px 9px;
        height: 80px;
    }
}
@media only screen and (max-width: 768px) and (min-width: 426px) {
    .header {
        background-color: white;
        z-index: 50;
        width: 100%;
        height: 128px;
        position: fixed;
        display: flex;
        top: 0%;
    }
    .innerHeader {
        display: flex;
        padding-left: 27px;
        padding-right: 27px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 100%;
        max-width: 1570px !important;
    }
    .perf-link img {
        padding: 8px 9px;
        height: 112px;
    }
}
@media only screen and (max-width: 960px) and (min-width: 769px) {
    .header {
        background-color: white;
        z-index: 50;
        width: 100%;
        height: 128px;
        position: fixed;
        display: flex;
        top: 0%;
    }
    .innerHeader {
        display: flex;
        padding-left: 39px;
        padding-right: 39px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 100%;
        max-width: 1570px !important;
    }
    .perf-link img {
        padding: 8px 9px;
        height: 112px;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 961px) {
    .header {
        background-color: white;
        z-index: 50;
        width: 100%;
        height: 128px;
        position: fixed;
        display: flex;
        top: 0%;
    }
    .innerHeader {
        display: flex;
        padding-left: 55px;
        padding-right: 55px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 100%;
        max-width: 1570px !important;
    }
    .perf-link img {
        padding: 8px 9px;
        height: 112px;
    }
}
@media only screen and (max-width: 4000px) and (min-width: 1025px){
    .header {
        background-color: white;
        z-index: 50;
        width: 100%;
        height: 128px;
        position: fixed;
        display: flex;
        top: 0%;
    }
    .innerHeader {
        display: flex;
        padding-left: 132px;
        padding-right: 132px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 100%;
        max-width: 1570px !important;
    }
    .perf-link img {
        padding: 8px 9px;
        height: 112px;
    }
}

.logoContainer {
    align-items: left;
    text-align: left;
    justify-content: flex-start;
}
.perf-link {
    margin: auto;
    flex: 0 0 auto;
}

.topRight {
    justify-content: center;
    align-items: center;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
@font-face {
    font-family: Brandon Grotesque Bold;
    src: url("../../../assets/Brandon_Grotesque/Brandon_bld.otf") format("opentype");
}
@font-face {
    font-family: Brandon Grotesque;
    src: url("../../../assets/Brandon_Grotesque/Brandon_reg.otf") format("opentype");
}
.topRightLink {
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    text-decoration: none;
    font-family: Brandon Grotesque Bold;
    font-style: normal;
    font-size: 13px;
    letter-spacing: .14em;
    text-transform: uppercase;
    color: black;
    margin: 0 1.16em 0 0;
    padding: .618em 0;
}
.menu-mobile-item .topRightLink{
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    text-decoration: none;
    font-family: Brandon Grotesque Bold;
    font-style: normal;
    font-size: 13px;
    letter-spacing: .14em;
    text-transform: uppercase;
    color: black;
    margin: 0 1.16em 0 0;
    padding: 0 0 .618em 0;
}
.topRightLink2 {
    display: inline-block;
    align-items: center;
    text-align: inherit;
    vertical-align: middle;
    text-decoration: none;
    font-family: Brandon Grotesque;
    font-style: normal;
    font-size: 12px;
    letter-spacing: .14em;
    text-transform: uppercase;
    color: black;
    margin: 0 0.58em;
    padding: .618em 0;
}
.menu-mobile-item .topRightLink2 {
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    text-decoration: none;
    font-family: Brandon Grotesque;
    font-style: normal;
    font-size: 12px;
    letter-spacing: .14em;
    text-transform: uppercase;
    color: black;
    margin: 0 1.16em 0 0;
    padding: .8em 0;
}
.social {
    padding: 8px 9px;
    width: 47.75px;
    display: flex;
    flex-direction: row;
    display: inline-block;
}
.topRightLink3{
    text-align: center;
    width: 15px;
    height: 15px;
    margin: 4.425px;
    display: inline-block;
}
.socialLogos {
    height: 14.7px;
}

.menuItemText {
    display: none;
}
.menuMobileItemText {
    display: table-cell;
    vertical-align: middle;
}
.menuMobileItemText2 {
    display: table-cell;
    vertical-align: middle;
    padding-top: 1em;
    font-weight: 100;
}
.menu-item {
    display: none;
}
.menu-item svg {
    display: none;
}
.menu-mobile-item svg {
    margin-right: 4vh;
    display: table-cell;
    vertical-align: middle;
}
