#whyperf {
    display: flex;
    justify-content: center;
    font-family: 'Cormorant Garamond', serif;
    height: 100vh !important;
    background-color: black;
    color: white;
}

#whyperf .backdrop {
    background-image: url(../../../assets/landing/whyperf_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh !important;
    margin-top: -13vh !important;
}

#whyperf .whyperfSection {
    z-index: 20;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    /* width: 80vw; */
    margin: inherit 5vw;
}

/* .circle {
    border-radius: 50%;
    background-color: lightblue;
    position: relative;
    width: 15vw;
    height: 15vw;
} */

@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 4000px) {

    .whyperfSection .oneliner {
        font-size: 4vw;
        /* margin-top: 5vh !important; */
        width: 90vw !important;
    }

    #whyperf .whyperfSection {
        margin-top: -15vh;
    }
    .circle:hover {
        background-color: rgb(232,0,0);
        z-index: 10;
    }

    .circleWrapper img {
        width: 15vw;
        height: 15vw;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .circle:hover {
        opacity: 0.5;
        z-index: 10;
    }

    .reason {
        display: none;
    }

    .circleRow {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 80vw;
        height: 40vw;
        margin: 0 auto 0 auto;
        height: 13rem;
    }

    .circleWrapper {
        height: 13rem;
        padding-top: 4vh;
    }

    .descShow {
        width: 64%;
        color: white;
        height: 17vh;
        margin-top: 13vh;
        font-size: 28px;
        font-weight: bold;
        margin-left: auto;
        margin-right: auto;
    }
    .descShowSection {
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 30;
        height: 87vh;
        /* padding-top: 13vh; */
    }

    .descHideSection {
        /* padding-top: 13vh; */
        height: 87vh;
        display: flex;
        flex-direction: column;
    }
    .descHide {
      height: 30vh;
    }
    .whyperfSection .down {
        margin-top: 0vh !important;
    }
}




/* phones in general  */
@media screen
  and (min-device-width: 376px)
  and (max-device-width: 800px)  {
    #whyperf {
        padding-top: 0;
    }

    .whyperfSection {
        padding-top: 13vh;
    }

    .whyperfSection .oneliner {
        font-size: 8vw;
        margin-top: 5vh !important;
        margin-bottom: 0vh !important;
        width: 70vw !important;
    }

    #whyperf .whyperfSection {
        width: 90vw;
        padding-top: 13vh !important;
    }
    .circleWrapper img {
        width: 30vw;
        height: 30vw;
    }
    #whyperf .circleRow {
        margin: 0 0;
    }

    #whyperf .getStarted {
        margin-top: 10vh !important;
        margin-bottom: 10vh !important;
    }

    #whyperf .backdrop {
        margin-top: 0vh !important;
    }
}

@media screen
  and (min-device-width: 321px)
  and (max-device-width: 375px)  {
      #whyperf {
          padding-top: 0;
      }

      .whyperfSection {
          padding-top: 13vh;
      }

      .whyperfSection .oneliner {
          font-size: 8vw;
          margin-top: 5vh !important;
          margin-bottom: 2vh !important;
          width: 70vw !important;
      }

      #whyperf .whyperfSection {
          width: 90vw;
          padding-top: 13vh !important;
      }
      .circleWrapper img {
          width: 30vw;
          height: 30vw;
      }
      #whyperf .circleRow {
          margin: 0 0;
      }

      #whyperf .getStarted {
          margin-top: 10vh !important;
          margin-bottom: 10vh !important;
      }

      #whyperf .backdrop {
          margin-top: 0vh !important;
      }

}
@media screen
  and (min-device-width: 300px)
  and (max-device-width: 320px)  {

    .getStarted {
        margin-top: 9vh;
        margin-bottom: 9vh;
    }

    #whyperf .backdrop {
        margin-top: -13vh !important;
    }

    #whyperf .whyperfSection {
        width: 90vw;
    }
    #whyperf .oneliner {
        margin-bottom: 0.5vh;
    }
    #whyperf .circleRow {
        margin: 0 auto;
        width: 90vw;
        height: 110vw;
    }
    .circleWrapper img {
        width: 26vw;
        height: 26vw;
    }

}


@media only screen and (max-device-width: 768px) {
  /* iPad */
  .mobile {
      /* height: 87vh; */
      overflow: hidden;
  }

  .circleRow {
      flex-direction: column;
      display: inline-block;
      margin-top: 2rem;
  }

  .circleWrapper {
      display: flex;
      width: 100%;
      align-items: center;
      margin-bottom: 1.5rem;
  }

  .circle {
      border-radius: 50%;
      background-color: lightblue;
      position: relative;
      width: 15vw;
      height: 15vw;
  }

  .reason {
      width: 65%;
      float: right;
      height: 12rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
  }

  .descHide {
      display: none;
  }
  .descShow {
      display: none;
  }
}

@media only screen and (max-device-width: 480px) {
  /* iPhone Plus, Pixel 2 (XL) */
  .circleRow {
      flex-direction: column;
      display: inline-block;
      margin-top: 1%;
  }

  .circleWrapper {
      display: flex;
      width: 100%;
      align-items: center;
      margin-bottom: 2.2%;
      justify-content: space-evenly;
  }

  .circle {
      border-radius: 50%;
      background-color: lightblue;
      position: relative;
      width: 30vw;
      height: 30vw;
  }

  .reason {
      width: 60%;
      float: right;
      height: 9.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
  }

  .descHide {
      display: none;
  }
  .descShow {
      display: none;
  }
}

@media only screen and (max-device-width: 375px) {
  /* iPhone 6/7/8, iPhone X, */
  .circleRow {
      margin-top: 5%;
      flex-direction: column;
      display: inline-block;
  }

  .circleWrapper {
      width: 100%;
      align-items: center;
      margin-bottom: 10%;
  }

  .circle {
      border-radius: 50%;
      background-color: lightblue;
      position: relative;
      width: 7rem;
      height: 7rem;
  }

  .reason {
      width: 60%;
      float: right;
      height: 7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 17px;
  }

  .descHide {
    display: none;
  }
  .descShow {
    display: none;
  }
}

@media only screen and (max-device-width: 360px) {
    /*damn galaxy*/
    .mobile {
        height: 87vh;
    }

    .circleRow {
        flex-direction: column;
        display: inline-block;
        height:70%;
        margin-top: 3%;
    }

    .circleWrapper {
      display: flex;
      width: 100%;
      align-items: center;
      margin-bottom: 9%;
    }

    .circle {
        border-radius: 50%;
        background-color: lightblue;
        position: relative;
        width: 6.5rem;
        height: 6.5rem;
    }

    .reason {
        width: 50%;
        float: right;
        height: 7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }

    .descHide {
      display: none;
    }
    .descShow {
      display: none;
    }
}

@media only screen and (max-device-width: 320px) {
    /*iPhone 5*/
    .mobile {
        height: 87vh;
        overflow: hidden;
    }

    .circleRow {
        width: 80%;
        flex-direction: column;
        display: inline-block;
        height:65%;
        margin-top: 0%;
    }

    .circleWrapper {
      display: flex;
      width: 100%;
      align-items: center;
      margin-bottom: 4%;
    }

    .circle {
        border-radius: 50%;
        background-color: lightblue;
        position: relative;
        width: 6.5rem;
        height: 6.5rem;
    }

    .reason {
        width: 50%;
        float: right;
        height: 7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }
    #whyperf .down a{
        margin-top: 5vh;
    }
    .descHide {
      display: none;
    }
    .descShow {
      display: none;
    }
}
