@media only screen and (max-device-width: 768px) {
  /* iPad */
  .mobile {
      height: 87vh;
      overflow: hidden;
  }

  .circleRow {
      width: 80%;
      flex-direction: column;
      display: inline-block;
      margin-top: 2rem;
  }

  .circleWrapper {
      display: flex;
      width: 100%;
      align-items: center;
      margin-bottom: 1.5rem;
  }

  .circle {
      border-radius: 50%;
      background-color: lightblue;
      position: relative;
      width: 12rem;
      height: 12rem;
  }

  .reason {
      width: 65%;
      float: right;
      height: 12rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
  }

  .descHide {
      display: none;
  }
  .descShow {
      display: none;
  }
}

@media only screen and (max-device-width: 480px) {
  /* iPhone Plus, Pixel 2 (XL) */
  .mobile {
      height: 87vh;
      overflow: hidden;
  }

  .circleRow {
      width: 88%;
      height: 75%;
      flex-direction: column;
      display: inline-block;
      margin-top: 2%;
  }

  .circleWrapper {
      display: flex;
      width: 100%;
      align-items: center;
      margin-bottom: 2.2%;
  }

  .circle {
      border-radius: 50%;
      background-color: lightblue;
      position: relative;
      width: 9rem;
      height: 9rem;
  }

  .reason {
      width: 60%;
      float: right;
      height: 9.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
  }

  .descHide {
      display: none;
  }
  .descShow {
      display: none;
  }
}

@media only screen and (max-device-width: 375px) {
  /* iPhone 6/7/8, iPhone X, */
  .mobile {
      height: 87vh;
      overflow: hidden;
  }

  .circleRow {
      width: 80%;
      height:70%;
      margin-top: 5%;
      flex-direction: column;
      display: inline-block;
  }

  .circleWrapper {
      width: 100%;
      align-items: center;
      margin-bottom: 10%;
  }

  .circle {
      border-radius: 50%;
      background-color: lightblue;
      position: relative;
      width: 7rem;
      height: 7rem;
  }

  .reason {
      width: 60%;
      float: right;
      height: 7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
  }

  .descHide {
    display: none;
  }
  .descShow {
    display: none;
  }
}

@media only screen and (max-device-width: 360px) {
    /*damn galaxy*/
    .mobile {
        height: 87vh;
        /* overflow: hidden; */
    }

    .circleRow {
        width: 80%;
        flex-direction: column;
        display: inline-block;
        height:70%;
        margin-top: 3%;
    }

    .circleWrapper {
      display: flex;
      width: 100%;
      align-items: center;
      margin-bottom: 9%;
    }

    .circle {
        border-radius: 50%;
        background-color: lightblue;
        position: relative;
        width: 6.5rem;
        height: 6.5rem;
    }

    .reason {
        width: 50%;
        float: right;
        height: 7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }

    .descHide {
      display: none;
    }
    .descShow {
      display: none;
    }
}

@media only screen and (max-device-width: 320px) {
    /*iPhone 5*/
    .mobile {
        height: 87vh;
        overflow: hidden;
    }

    .circleRow {
        width: 80%;
        flex-direction: column;
        display: inline-block;
        height:65%;
        margin-top: 0%;
    }

    .circleWrapper {
      display: flex;
      width: 100%;
      align-items: center;
      margin-bottom: 4%;
    }

    .circle {
        border-radius: 50%;
        background-color: lightblue;
        position: relative;
        width: 6.5rem;
        height: 6.5rem;
    }

    .reason {
        width: 50%;
        float: right;
        height: 7rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .descHide {
      display: none;
    }
    .descShow {
      display: none;
    }
}

@media only screen and (min-device-width: 769px){
  .circle {
      border-radius: 50%;
      background-color: lightblue;
      width: 13rem;
      height: 13rem;
      margin-left: 2rem;
      margin-right: 2rem;
      z-index: -1;
  }

  .circle:hover {
      background-color: rgb(232,0,0);
      z-index: 10;
  }

  .reason {
      display: none;
  }

  .circleRow {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 80%;
      margin: 0 auto 0 auto;
      height: 13rem;
  }

  .circleWrapper {
      height: 13rem;
      padding-top: 4vh;
  }

  .descShow {
      width: 100%;
      color: white;
      height: 17vh;
      margin-top: 13vh;
  }
  .descShowSection {
      background-color: rgba(0, 0, 0, 0.8);
      width: 100%;
      display: flex;
      flex-direction: column;
      z-index: 5;
      height: 87vh;
      padding-top: 13vh;
  }

  .descHideSection {
      padding-top: 13vh;
      height: 87vh;
      display: flex;
      flex-direction: column;
  }
  .descHide {
    height: 30vh;
  }
}
