@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Hammersmith+One|Lora');
section {
    height: 87vh;
    padding-top: 13vh;
    overflow: hidden;
}
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 4000px)
  and (-webkit-min-device-pixel-ratio: 1) {

    section {
        height: 87vh;
        padding-top: 13vh;
        overflow: hidden;
    }
    .quizResultStyle {
        overflow: hidden;
    }
    .showDownResult {
        margin-top: 1vh!important;
    }
    .quizResultStyle .showDownResult a {
        width: 25vw !important;
    }
    .goDown {
        margin-top: 2vh!important;
    }
    #distilling {
        margin: 0%;
    }
    .distillContainer {
        margin: 0 auto;
    }
    .hideVis {
        visibility: hidden;
    }
    .linkToCheckout {
        width: 80vw;
        margin: auto;
        text-align: center;
        font-size: 18px;
        color: #001428;
        text-decoration: underline;
    }
    .quizResultStyle {
        text-align: center;
        justify-content: center;
    }
}

@media only screen and (max-device-width: 768px) {
    /* iPad */
    .textContainer {
        width: auto;
        font-size: 34px;
        text-align: center;
        padding-top: 12vh;
        padding-bottom: 1vh;
        font-family: 'Lora';
        font-weight: lighter;
    }
    .textContainer2 {
        width: auto;
        font-size: 36px;
        text-align: center;
        padding: 5vh;
        font-family: 'Lora';
        font-weight: lighter;
    }
    .distillGif {
        position: absolute;
        top: 157%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 30vh;
    }
    .showDownResult {
        margin-top: 0vh!important;
    }
    .quizResultStyle .showDownResult a {
        width: 80vw !important;
    }
    .goDown {
        margin-top: 0vh!important;
    }
}
@media only screen and (max-device-width: 480px) {
    /* iPhone Plus, Pixel 2 (XL) */
    .textContainer {
        width: 95%;
        margin: auto;
        font-size: 27px;
        text-align: center;
        padding-top: 2.5vh;
        padding-bottom: 2.5vh;
        font-family: 'Lora';
        font-weight: lighter;
    }
    .textContainer2 {
        width: auto;
        font-size: 28px;
        text-align: center;
        padding: 4.5vh;
        font-family: 'Lora';
        font-weight: lighter;
    }
    .showDownResult {
        margin-top: 0vh !important;
    }
    .showDownResult a {
        margin-top: 0vh !important;
    }
}
@media only screen and (max-device-width: 375px) {
    /* iPhone 6/7/8, iPhone X, */
    .textContainer {
        width: 95%;
        font-size: 22px;
        text-align: center;
        padding-top: 4.5vh;
        padding-bottom: 2vh;
    }
    .quizResultStyle .down {
        font-size: 20px;
    }
    .textContainer2 {
        width: auto;
        font-size: 24px;
        text-align: center;
        padding: 4.2vh;
        font-family: 'Lora';
        font-weight: lighter;
    }
    .distillGif {
        position: absolute;
        top: 158%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 30vh;
    }
}
@media only screen and (max-device-width: 320px) {
    /*iPhone 5*/
    .textContainer {
        width: 95%;
        font-size: 18px;
        text-align: center;
        padding-top: 7vh;
        padding-bottom: 1vh;
        margin: auto;
    }
    .quizResultStyle .cardsContainer {
        height: 58vh;
    }
    .quizResultStyle .down {
        font-size: 18px;
    }
    .textContainer2 {
        width: auto;
        font-size: 22px;
        text-align: center;
        padding-top: 8vh;
        padding-bottom: 0;
        font-family: 'Lora';
        font-weight: lighter;
    }
    .distillGif {
        position: absolute;
        top: 158%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 30vh;
    }
}
@media only screen and (min-device-width: 769px){
    .textContainer {
        width: auto;
        font-size: 32px;
        text-align: center;
        padding: 5vh;
        font-family: 'Lora';
        /* font-weight: lighter; */
    }
    .showDownResult {
        margin-top: 3vh !important;
    }
    .showDownResult a {
        margin-top: 0vh !important;
    }
    .textContainer2 {
        width: auto;
        font-size: 38px;
        text-align: center;
        padding: 5vh;
        font-family: 'Lora';
        font-weight: lighter;
    }
    .distillGif {
        position: absolute;
        top: 155.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 33vh;
    }

}

#distilling {
    margin: 0%;
}
.distillContainer {
    margin: 0 auto;
}
.hideVis {
    visibility: hidden;
}
.linkToCheckout {
    width: 80vw;
    margin: auto;
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    font-family: sans-serif;
    color: #001428;
    text-decoration: underline;
}
.quizResultStyle {
    text-align: center;
    justify-content: center;
    font-family: 'Cormorant Garamond', sans-serif;
    font-weight: bold;
    background-image: url('../../assets/result/40.png');
    background-size: cover;
    background-repeat: repeat-y;
    background-origin: content-box;
    background-position: center;
    overflow: hidden;
    color: #001428;
}
.quizResultStyle .down {
    font-weight: 900;
    color: black;
}
