.cardsContainer {
    height: 65%;
    display: flex;
    margin: auto 10% auto 10%;
}

.card {
    width: 30%;
    height: 100%;
    border-radius: 2rem;
    background-color: pink;
    text-align: center;
    margin: auto 2rem auto 2rem;
    font-size: 20px;
    color: white;
    overflow: hidden;
    flex-direction: column;
}

.card img {
    height: 20rem;
    margin-bottom: 10%;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.front {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;

}

.back {
    width: inherit;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.resultContainer {
    height: auto;
    width: inherit;
}

.results {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 42px;
}

.resultDescription {
    font-size: 20px;
}
