.question {
  font-size: 32px;
}

.optionsContainer {
  display: flex;
  justify-content: center;
}

.option {
  display: flex;
  flex-direction: column;
  border: solid grey;
  margin: 2rem;
  border-radius: 2rem;
}

.option img {
  width: 15rem;
  height: 15rem;

}

.progressBarContainer {
  justify-content: center;
  background-color: #fafafa;
  width: 90vh;
  margin: 5rem auto auto auto;

}

.progressBar {
  justify-content: center !important;
}
